@charset "utf-8";
#Goldfish {
    width: auto;
    height: auto;
    min-width: 0px;
    text-shadow: 0px 0px #749ACE;
    background-color: #2E357A;
    background-position: 0 0;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: normal;
    display: inherit;
    border-style: solid;
    border-color: #FAF4F4;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    background-attachment: fixed;
    text-decoration: none;
    text-align: center;
    color: #FCFCFC;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    float: none;
}



#Introduction {
    width: 17cm;
    background-color: #D66E70;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    height: 7cm;
    text-indent: 50px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: medium solid #F5F5F5;
    float: none;
    clear: none;
}
body {
    color: #F0EEEE;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: large;
    background-color: #D66E70;
    width: 39cm;
    height: 20cm;
    float: none;
    text-align: center;
    border: medium solid #F7F1F1;
}
#content2 {
    width: 17cm;
    height: 7cm;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: none;
    border-width: medium;
    border-style: solid;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin-top: 10px;
}



#menu {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    color: #FCFCFC;
    background-color: #D66E70;
    min-height: 0cm;
    font-size: medium;
    margin-left: 20px;
    text-align: left;
    font-style: normal;
    height: 4cm;
    border-width: medium;
    border-style: solid;
    width: 12cm;
}
#Contant {
    width: 8cm;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    border: medium solid #F9F5F5;
    background-color: #D66E70;
    margin-left: 20px;
}
#Image {
    text-align: center;
    width: 17cm;
    height: 7cm;
    background-color: #D66E70;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: medium solid #FBF9F9;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10pxpx;
    float: right;
}
#image1 {
    width: 17cm;
    text-align: center;
    float: right;
    height: 7cm;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    clear: none;
    border: medium solid #FFFAFA;
    list-style-position: outside;
}
#image2 {
    float: right;
    width: 17cm;
    height: 6.9cm;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: medium solid #FBF5F5;
}
#Content1 {
    height: 7cm;
    width: 17cm;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
    border: medium solid #FDFAFA;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: center;
}
#image3 {
    width: 12cm;
    height: 7cm;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 10px;
    margin-left: 450px;
    margin-right: -450px;
    border-width: medium;
    border-style: solid;
}
#menu1 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #FEFEFE;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;


}
